**/main
**/a.out
tests
.DS_Store
dataset.zipAI/MachineLearningA-Z/Part 8 - Deep Learning（ディープラーニング）/Section 40 - Convolutional Neural Networks (CNN)/Python/dataset.zip
*.zip
kaggle/kaggle.json

# Jupyter
.ipynb_checkpoints/

# VSCode
.virtual_documents/

# Python
*.pickle
*.csv
