AI/MachineLearningA-Z/Part[[:space:]]8[[:space:]]-[[:space:]]Deep[[:space:]]Learning（ディープラーニング）/Section[[:space:]]40[[:space:]]-[[:space:]]Convolutional[[:space:]]Neural[[:space:]]Networks[[:space:]](CNN)/Python/dataset.zip filter=lfs diff=lfs merge=lfs -text
